name: docs

on:
  push:
    paths-ignore:
      - src/**.x
      - .github/workflows/xls.yaml
      - .github/actions/xls/**
    branches-ignore:
      - ttsky25b
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build docs
        uses: TinyTapeout/tt-gds-action/docs@ttsky25b
