name: gds

on:
  push:
  workflow_dispatch:

jobs:
  gds:
    needs: xls
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Generate Verilog from DSLX
        uses: ./.github/actions/xls-action
        with:
          dslx-path: src/bytebeat.x
          dslx-top: bytebeat
          ir-path: src/bytebeat.ir
          opt-ir-path: src/bytebeat.opt.ir
          verilog-path: src/bytebeat.v
          verilog-module-name: bytebeat
          verilog-reset-signal-name: reset
          use-system-verilog: false
          clock-period-ps: 125000000
          delay-model: unit

      - name: Build GDS
        uses: TinyTapeout/tt-gds-action@ttsky25b
        with:
          pdk: sky130A

  precheck:
    needs: gds
    runs-on: ubuntu-24.04
    steps:
      - name: Run Tiny Tapeout Precheck
        uses: TinyTapeout/tt-gds-action/precheck@ttsky25b

  gl_test:
    needs: gds
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: GL test
        uses: TinyTapeout/tt-gds-action/gl_test@ttsky25b

  viewer:
    needs: gds
    runs-on: ubuntu-24.04
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    steps:
      - uses: TinyTapeout/tt-gds-action/viewer@ttsky25b
