name: xls

on:
  push:
    paths:
      - src/**.x
      - .github/workflows/xls.yaml
      - .github/actions/xls/**
  workflow_dispatch:

jobs:
  xls:
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/checkout@v5
      - name: Generate Verilog from DSLX
        uses: ./.github/actions/xls-action
        with:
          xls-version: v0.0.0-8961-gf509bf088
          dslx-path: src/bytebeat.x
          dslx-top: bytebeat
          ir-path: src/bytebeat.ir
          opt-ir-path: src/bytebeat.opt.ir
          verilog-path: src/bytebeat.v
          verilog-module-name: bytebeat
          verilog-reset-signal-name: reset
          use-system-verilog: false
          clock-period-ps: 125000000
          delay-model: unit

      - name: Commit generated Verilog
        run: |
          git config --global user.email "<>"
          git config --global user.name "GitHub XLS workflow"
          git add src/bytebeat.v
          git commit -m "src: re-generate bytebeat.v from DSLX"
          git push origin "${{ github.ref_name }}"
